.new {
    display: flex;

    .new-container {
        flex: 6;

        .top,
        .bottom {
            padding: 10px;
            margin: 20px;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            border-radius: 5px;
            display: flex;

            .title {
                font-size: 20px;
                color: lightgray;
            }

            .left {
                flex: 1;

                .avatar {
                    width: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .right {
                flex: 2;

                .form-input {
                    display: flex;
                    flex-direction: column;

                    .label-file {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        .drive-icon {
                            cursor: pointer;
                        }
                    }

                    input {
                        border: none;
                        border-bottom: 1px solid gray;
                        outline: none;
                        padding: 5px;
                        width: 100%;
                    }
                    &.file-input{
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}